build/
.cache/
.vscode/

*.report.rank*
*.records.log.rank*
my-flash-attention/.claude
my-flash-attention/atb_test
my-flash-attention/CLAUDE.md
my-flash-attention/test_aTb.cu
.claude
CLAUDE.md
scripts/compare_logs
my_tmp
my-flash-attention
# *.sh
# g*.txt
# l*.txt
